<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<appSettings>
		<add key="ServerIdentifier" value="Bob Local"/>
		<add key="IntegrationServer" value="devdb.optionsoft.net"/>
		<add key="RawDbServer" value="devdb.optionsoft.net"/>
		<add key="DMSIntegrationCatalog" value="PpDjsUDGPoloLYMttsOC/g=="/>
		<add key="RawCatalog" value="2P0hMd1gTYoY7NE+VqjDqo6HKClz5+Ko"/>
		<add key="IntegrationId" value="otidb"/>
		<add key="IntegrationPW" value="OtiProducts!"/>
		<add key="RawDbId" value="otidb"/>
		<add key="RawDbPW" value="OtiProducts!"/>
		<!--Dev-->
		<!--
    <add key="IntegrationServer" value="LKktKTZyRSDmVuifFJVbL/m9WUOV9Vgj"/>
    <add key="RawDbServer" value="LKktKTZyRSDmVuifFJVbL/m9WUOV9Vgj"/>
    <add key="IntegrationId" value="H+jW9S2+yLs="/>
    <add key="IntegrationPW" value="1qxnLvXGeGnEAS1+6fkjYg=="/>
    <add key="RawDbId" value="H+jW9S2+yLs="/>
    <add key="RawDbPW" value="1qxnLvXGeGnEAS1+6fkjYg=="/>-->

		<!--Staging-->
		<!--<add key="IntegrationServer" value="OJ7rhKhh1nDwqy503S9PFw=="/>
    <add key="RawDbServer" value="GFUyQ+WmAh/8lYkWPvwOj32U7R6T0FlF"/>
    <add key="IntegrationId" value=""/>
    <add key="IntegrationPW" value=""/>
    <add key="RawDbId" value=""/>
    <add key="RawDbPW" value=""/>-->

		<!--Production-->
		<!--<add key="IntegrationServer" value="OJ7rhKhh1nDwqy503S9PFw=="/>
    <add key="RawDbServer" value="OJ7rhKhh1nDwqy503S9PFw=="/>
    <add key="IntegrationId" value=""/>
    <add key="IntegrationPW" value=""/>
    <add key="RawDbId" value=""/>
    <add key="RawDbPW" value=""/>-->
	</appSettings>
</configuration>